#map

  :javascript
    var lat = #{@location.latitude};
    var long = #{@location.longitude};
    var map = new GMaps({
      div: '#map',
      lat: lat,
      lng: long,


    });
    var loc = #{@location.capacity}
    map.addMarker({
    lat: lat,
    lng: long,
    infoWindow:{
    content: "Name: #{@location.name}"+"<br>"+"Capacity: "+"#{@location.capacity}"
    }});
