!!!
%html
  %head
    %title Guildford Parking
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'shared/gmapSetup'

  %body

    = render 'shared/navbar'
    = render 'shared/flashmessages'
    = yield
